/* App.css */

.range-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border: 5px solid  rgb(255, 217, 0);
    border-radius: 5px;
  }
  
  .range-track {
    height: 60px;
    width: 100%;
    background-color: #ccc;
  }
  
  .range-thumb {
    height: 130%;
    width: 5px;
    background-color: rgb(255, 217, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .range-label {
    font-family: Arial;
    font-size: 12px;
    background-color:  rgb(255, 217, 0);
    padding: 3px;
    border-radius: 3px;

  }
  .sliderImg{
    width: 16.66%;
    height: 100%;
  }
