.navbar {
  height: 100vh;
  max-width: 250px;
}

#navButton {
  color: black;
}

* {
  padding: 0px 0px;
  margin: 0px 0px;
}

#navProfile {
  width: 30px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(45deg, #ffa95f 5%, #f99c4a 15%, #f47838 30%, #e75157 45%, #d92d7a 70%, #cc2a92 80%, #c32e92 95%);
  border-radius: 50%;
}

.css-8je8zh-MuiTouchRipple-root {
  position: relative !important;

}

a {
  text-decoration: none;
  color: black;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  position: unset !important;

}

.MuiButtonBase-root {
  position: unset !important;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.postWindow {
  min-height: 100vh;
}

.post {
  max-height: 1000px;
  min-height: 500px;
}

#postCommentBar {
  outline: none;
  background-color: transparent;
}

.cropperDiv {
  height: 92.1%;
  overflow: hidden;
}

textarea,
input {
  outline: none;
}

.Stories::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Stories {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


.test {
  height: 30px;
  width: 5px;
  background-color: black;
}

.profileSec {
  max-width: 900px;
}

.uploadPost {
  height: 500px;
}

.searchSec {
  left: 80px;
  width: 400px;
}



.reel-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.reel {
  scroll-snap-align: start !important;
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 30px;
  position: relative;

}

.reelDiv {
  height: 90vh !important;
}

.video {
  height: 100% !important;
  border-radius: 5px !important;

}